.top-nav {
    background-color: grey;
    padding-bottom: 2px;
}

.navbar.sticky-top.navbar-dark.bg-dark {
    color: white;
}


.close {
    color: white;
    padding-bottom: 5px;
}

.module-list {
     margin-top: 20px;
     margin-bottom: 10px;
}

.sidebar {
    height: 1000px;
}

.topic-list-item {
 list-style: none;
}

.topic-list-item-btn {
    margin: 10px;
}

.topic-add-btn {
    margin: 5px;
    color: black;
}



