.sign-up-link {
    margin-right: 15px;
}

/*

.container {
    width: 100%;
    /*keep everything in the center
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.card.signin-card {
     padding: 20px 40px 20px;
     /*background-color: #99CCFF;
     background-image: linear-gradient(to bottom right, #FFCCCC, #CCCCFF, #99CCFF, #ffffff);
     box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
     -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
     -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.signin-title {
    color: white;
    font-size: 40px;
    padding-bottom: 5%;
}

label.col-sm-2.col-form-label {
    color: white;
}

button {
    color: red;
}

button.btn-primary.btn-block.wbdv-login {
    color: #ffffff;
    background-color: #3c82fa;
    width: 100%;
} */


