.navbar.navbar-dark.bg-primary {
    color: white;
}

.add-btn {
    color: white;
}
.fixed-bottom.col {
    text-align: right;
    padding-right: 2%;
    padding-bottom: 5%;
}

.navbar.navbar-light.bg-light {
    padding-inline: 10%;
    width: 100%;
}

.title-title {
    width:30%;
}

.owner-title {
    width: 20%;
}

/*******  mobile version ************/
@media (max-width: 640px) {
    .dashboard, .owner-col, .modified-col {
        display: none;
    }
}