.navbar.navbar-dark.bg-primary {
    color: white;
}

.add-btn {
    color: white;
}
.fixed-bottom.col {
    text-align: right;
    padding-right: 2%;
    padding-bottom: 5%;
}

.navbar.navbar-light.bg-light {
    padding-inline: 10%;
    width: 100%;
}

.navbar.navbar-expand-lg.bg-light.sticky-top, .table-hover {
    padding: 0px;
    margin: 0px;
}

.navbar-title {
    width: 35%;
    color: grey;
}

.navbar-owner {
    width: 15%;
    color: grey;
}

.navbar-modifier {
    width: 45%;
    color: grey;
}

.navbar-icon {
    width: 5%;
    color: grey;
}

/*******  mobile version ************/
@media (max-width: 640px) {
    .dashboard, .owner-col, .modified-col {
        display: none;
    }

    .navbar-icons {
        float: right;
    }
}